*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

button, input, select{
  font-family: inherit;
}

body{
  font-family: 'Jetbrains Mono Nerd Font', monospace;
  background: #0e0e0e;
  color: #ffffff;
  padding: 2rem;
  min-height: 100vh;
}

#main-area{
  max-width: 500px;
  background: #1a1a1a;
  padding: 2rem;
  border-radius: 0px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
}

#timings{
  display: flex;
  align-items: center;
  gap: 0.5 rem;
}

#timings input{
  width: 60px;
  padding:0.5rem;
  background: #111;
  border: 1px solid #444;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

#timings span{
  font-size: 1.5rem;
  color: #888;
}

#controls{
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

#controls button{
 padding: 0.6rem 1.5rem;
 font-size: 1.2rem;
 background: #f97316;
 border: none;
 color: white;
 cursor: pointer;
 font-weight: bold;
}

#controls button:last-child{
  background: #444;
}

h1{
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #f97316;
}

h2{
  font-size: 1.2rem;
  margin-bottom:0.5rem;
  color: #aaa;
}

h3{
  font-size: 1rem;
  margin: 1.5rem 0 0.5rem 0;
  color: #666;
}
